@import './vars.scss'; 
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
    color: $txtColorOnBg;
}

.firstBtn {
    background-color: $btnColor;
    color: $txtColorOnBg;
    border: none;
    border-radius: 50px;
    font-weight: 900;
    transition: 0.5s;
}
.secBtn {
    background-color: $btnColorSec;
    color: $txtColorOnBg;
    border: none;
    border-radius: 50px;
    font-weight: 900;
    transition: 0.5s;
}
.secBtn a {
    transition: 0.5s;
    font-weight: 900;
}
.secBtn:hover{
    background-color: $btnColorThird;
    color: $txtColorBg;
}
.secBtn:hover a {
    color: $txtColorBg
}
.thirdBtn {
    background-color: $btnColorThird;
    color: $txtColorBg;
    border: none;
    border-radius: 50px;
    
}
.thirdBtn:hover, .firstBtn:hover {
    background-color: $btnColorSec;
    color: $txtColorOnBg;
}
.bigBtn {
    padding: 20px 40px;
}
.smallBtn {
    padding: 10px 20px;
}
h2 {
    font-weight: 900;
    font-size: 3rem;
}
.icon {
    width: 50px;
}