//COLORS
$white: #FFFFFF;
$black: #000000;

//BACKGROUND COLORS
$bgColor: #E56768;

//BTN COLORS
$btnColor: #E56768;
$btnColorSec: #E9D758;
$btnColorThird: #FFFFFF;

//TXT COLORS
$txtColorOnBg: #FFFFFF;
$titleColor: #434959;
$txtColor: #7F7F7F;
$txtColorBg: #E56768;
$txtColorlight: #B7B7B6;
$txtColorHover: #E9D758;
