//COLORS
$white: #FFFFFF;
$black: #000000;

//BACKGROUND COLORS
$BgColor: #E56768;

//BTN COLORS
$btnColor: #DA5F60E6;
$btnColorSec: #E9D758;

//TXT COLORS
$txtColorOnBg: #FFFFFF;
$titleColor: #434959;
$txtColor: #7F7F7F;
$txtColorlight: #B7B7B6;
$txtColorHover: #E9D758;
